<div class="container">

  <div class="row">
    <div class="col s6">
      <h4>My Bookings</h4>
      <% @bookings.each do |booking| %>
        <% if booking.user == current_user  %>
          <div class="card-panel white">
              <strong>Renter: </strong><%= booking.user.profile.first_name %></br>
              <strong>Lister: </strong><%= booking.bike.profile.first_name %></br>
              <strong>Bike: </strong> <%= link_to "#{booking.bike.title}", booking.bike %> </br>
              <strong>Booking Dates: </strong><%= booking.begin.to_date %> to <%= booking.end.to_date %></br>
              <strong>Message: </strong><%= booking.message %></br>
              <%= link_to "Send #{booking.bike.profile.first_name} a message!", conversations_path(sender_id: current_user.id, recipient_id: booking.bike.profile.user_id), method: 'post' %> </br>
              <strong>Booking Price: </strong>$<%= booking.price %></br>
                <% if booking.confirmation == false %>
                  Confirmation Pending...
                <% elsif booking.confirmation == true %>
                  Booking Confirmed
                  <br>

                  <%= link_to "Pay Now", new_charge_path(:amt => booking.price, :bkg => booking.id)  %>

                <% end %></br>

<!-- rating system code -->


  <% if user_signed_in? && booking.end < Time.now && booking.user == current_user && booking.confirmation == true %>
    <% if current_user.voted_for? booking %>
      <% a = Vote.find_by(:voter_id => current_user.id, :votable_id => booking.id) %>
      <% if a.vote_weight == 1 %>
      <%= awesome_link('fa-star', voteone_booking_path(booking), method: :put) %>
      <%= awesome_link('fa-star-o', votetwo_booking_path(booking), method: :put) %>
      <%= awesome_link('fa-star-o', votethree_booking_path(booking), method: :put) %>
      <%= awesome_link('fa-star-o', votefour_booking_path(booking), method: :put) %>
      <%= awesome_link('fa-star-o', votefive_booking_path(booking), method: :put) %>
    <% elsif a.vote_weight == 2 %>
      <%= awesome_link('fa-star', voteone_booking_path(booking), method: :put) %>
      <%= awesome_link('fa-star', votetwo_booking_path(booking), method: :put) %>
      <%= awesome_link('fa-star-o', votethree_booking_path(booking), method: :put) %>
      <%= awesome_link('fa-star-o', votefour_booking_path(booking), method: :put) %>
      <%= awesome_link('fa-star-o', votefive_booking_path(booking), method: :put) %>
    <% elsif a.vote_weight == 3 %>
      <%= awesome_link('fa-star', voteone_booking_path(booking), method: :put) %>
      <%= awesome_link('fa-star', votetwo_booking_path(booking), method: :put) %>
      <%= awesome_link('fa-star', votethree_booking_path(booking), method: :put) %>
      <%= awesome_link('fa-star-o', votefour_booking_path(booking), method: :put) %>
      <%= awesome_link('fa-star-o', votefive_booking_path(booking), method: :put) %>
    <% elsif a.vote_weight == 4 %>
      <%= awesome_link('fa-star', voteone_booking_path(booking), method: :put) %>
      <%= awesome_link('fa-star', votetwo_booking_path(booking), method: :put) %>
      <%= awesome_link('fa-star', votethree_booking_path(booking), method: :put) %>
      <%= awesome_link('fa-star', votefour_booking_path(booking), method: :put) %>
      <%= awesome_link('fa-star-o', votefive_booking_path(booking), method: :put) %>
    <% elsif a.vote_weight == 5 %>
      <%= awesome_link('fa-star', voteone_booking_path(booking), method: :put) %>
      <%= awesome_link('fa-star', votetwo_booking_path(booking), method: :put) %>
      <%= awesome_link('fa-star', votethree_booking_path(booking), method: :put) %>
      <%= awesome_link('fa-star', votefour_booking_path(booking), method: :put) %>
      <%= awesome_link('fa-star', votefive_booking_path(booking), method: :put) %>
    <% end %>
    <% else %>
      <%= awesome_link('fa-star-o', voteone_booking_path(booking), method: :put) %>
      <%= awesome_link('fa-star-o', votetwo_booking_path(booking), method: :put) %>
      <%= awesome_link('fa-star-o', votethree_booking_path(booking), method: :put) %>
      <%= awesome_link('fa-star-o', votefour_booking_path(booking), method: :put) %>
      <%= awesome_link('fa-star-o', votefive_booking_path(booking), method: :put) %>
  <% end %>
  <% if booking.score.nan? %>
  <% else %>
  <strong>Rating: </strong><%= booking.score %>
  <% end %>
<% end %>
</br>


          <%= link_to 'Edit Booking', edit_booking_path(booking) %> -- <%= link_to 'Cancel', booking, method: :delete, data: { confirm: 'Are you sure?' } %>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="col s6">
      <h4>Bookings for my bikes</h4>
        <% @bookings.each do |booking| %>
          <% if booking.bike.profile.user_id == current_user.id %>
            <div class="card-panel white">
                <strong>Renter: </strong><%= booking.user.profile.first_name %></br>
                <strong>Lister: </strong><%= booking.bike.profile.first_name %></br>
                <strong>Bike: </strong> <%= link_to "#{booking.bike.title}", booking.bike %> </br>
                <strong>Booking Dates: </strong><%= booking.begin.to_date %> to <%= booking.end.to_date %></br>
                <strong>Message: </strong><%= booking.message %></br>
                <strong>Booking Price: </strong>$<%= booking.price %></br>
                <%= link_to "Send #{booking.user.profile.first_name} a message!", conversations_path(sender_id: booking.user_id, recipient_id: current_user.id ), method: 'post' %></br>
                <% if booking.confirmation == false %>
                  <%= link_to 'Confirm?', edit_booking_path(booking) %>
                <% else %>
                  Booking Confirmed!
                <% end %>
            </div>
          <% end %>
        <% end %>
    </div>
  </div>
</div>
