<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @booking.user %>
</p>

<p>
  <strong>Bike:</strong>
  <%= @booking.bike %>
</p>

<p>
  <strong>Begin:</strong>
  <%= @booking.begin %>
</p>

<p>
  <strong>End:</strong>
  <%= @booking.end %>
</p>

<p>
  <strong>Message:</strong>
  <%= @booking.message %>
</p>

<p>
  <strong>price:</strong>
  <%= @booking.price %>
</p>

<p>
  <strong>Confirmation:</strong>
  <%= @booking.confirmation %>
</p>

<%= link_to 'Edit', edit_booking_path(@booking) %> |
<%= link_to 'Back', bookings_path %>
