
<div class='container'>
  <div class='row'>
    <div class="card grey darken-3">
      <div class="card-content white-text">

<p>
  <strong>Renter:</strong>
  <%= @booking.user.profile.first_name %>
</p>

<p>
  <strong>Lister:</strong>
  <%= @booking.bike.profile.first_name %>
</p>

<p>
  <strong>Bike:</strong>
  <% bike = @booking.bike.id %>
  <%= link_to "#{@booking.bike.title}", bike_path(:id => @booking.bike.id)  %>
</p>

<p>
  <strong>Booking:</strong>
  <%= @booking.begin.to_date %> to <%= @booking.end.to_date %>
</p>

<p>
  <strong>Message:</strong>
  <%= @booking.message %>
</p>

<p>
  <strong>Price:</strong>
  <%= @booking.price %>
</p>

<p>
  <strong>Confirmation:</strong>
  <%= @booking.confirmation %>
</p>
<div class="card-action">

<%= link_to 'Edit', edit_booking_path(@booking) %>
<%= link_to 'Bookings', bookings_path %>
</div>
</div>
</div>
</div>
</div>
