<%= form_for(@bike) do |f| %>
<% if @bike.errors.any? %>
<div id="error_explanation">
    <h2><%= pluralize(@bike.errors.count, "error") %>
        prohibited this bike from being saved:</h2>

    <ul>
        <% @bike.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
    </ul>
</div>
<% end %>

<div class="input-field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
</div>
<div class="input-field">
    <%= f.label :description %><br>
    <%= f.text_area :description, class: "materialize-textarea" %>
</div>
<div>
    <div class="file-field input-field gallery_picture">
        <div class="btn waves-effect waves-light">
            <span>Pictures</span>

            <%= f.file_field :pictures, multiple: true %>
        </div>
        <input class="file-path validate" type="text"/>
    </div>
</div>
<div class="input-field">
    <%= f.label "Price Per Day ($)" %><br>
    <%= f.number_field :price_day, class: :text_field, step: 0.01 %>
</div>
</br>
</br>

<div class="input-field">
<%= f.label :street %><br>

<%= f.text_field :street %>
</div>
<div class="input-field" style="width: 40%; display: inline-block;">
<%= f.label :suburb %><br>
<%= f.text_field :suburb %>
</div>
<div class="input-field" style="width: 40%; display: inline-block;">
<%= f.label :state %><br>
<%= f.text_field :state %>
</div>
<div class="input-field" style="width: 40%; display: inline-block;">
<%= f.label :postcode %><br>
<%= f.text_field :postcode %>
</div>
<div class="input-field" style="width: 40%; display: inline-block;">
<%= f.label :country %><br>
<%= f.text_field :country %>
</div>
</br>
<div class="actions">
<%= f.submit "List My Bike", class: "btn waves-effect waves-light"  %>
</div>
</br>
<% end %>
