<script>
$(document).ready(function(){
     $('.carousel').carousel();
   });
</script>
<div class="container">
    <div class='container'>
        <div class="row">
            <div class="col s1"></div>

            <div class="col s10">
                <div class="card grey darken-3">
                    <div class="card-content white-text">
                        <span class="card-title"><%= @bike.title  %></span>

                        <p id="notice"><%= notice %></p>

                        <div class="carousel">
                          <% @bike.pictures.each do |pic| %>
                          <a class="carousel-item"><%= image_tag(pic.url) %></a>
                          <% end %>
                        </div>
                        <p>
                            <strong>Profile:</strong>
                            <%= @bike.profile.first_name %> <%= @bike.profile.last_name %>
                        </p>

                        <p>
                            <strong>Description:</strong>
                            <%= @bike.description %>
                        </p>

                        <p>
                            <strong>Gears:</strong>
                            <%= @bike.gears %>
                        </p>
                        <p>
                          <strong>Rating:</strong>
                          <% bookings = Booking.where(:bike_id => @bike.id) %>
                          <% ratings = [] %>
                          <% bookings.each do |b| %>
                            <% if b.score.nan? %>
                            <% else %>
                              <% ratings << b.score %>
                            <% end %>
                          <% end %>
                          <%= ratings.inject{ |sum, el| sum + el }.to_f / ratings.size %> <%= fa_icon "star" %>

                        </p>

                        <div class="card-action">

                          <% if current_user == @bike.profile.user %>
                            <%= link_to 'Edit', edit_bike_path(@bike) %>
                          <% else %>
                          <%= link_to 'Make a booking', new_booking_path(:b_id => @bike) %>


                          <% end %>
                            <%= link_to 'Back', bikes_path %>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s1"></div>


</div>
<div id="map"></div>
<script>

function initMap() {
var myLatLng = {lat: <%= @bike.latitude %>, lng: <%= @bike.longitude %>};

var map = new google.maps.Map(document.getElementById('map'), {
  zoom: 12,
  center: myLatLng
});

var marker = new google.maps.Marker({
  position: myLatLng,
  map: map,
  title: 'Hello World!'
});
}
</script>
<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBCgSnctlOV7YeWUlat461Kncs57BYaJo0&callback=initMap">
</script>

</div>
