<p id="notice"><%= notice %></p>

<p>
  <strong>Profile:</strong>
  <%= @bike.profile %>
</p>

<p>
  <strong>Description:</strong>
  <%= @bike.description %>
</p>

<p>
  <strong>Gears:</strong>
  <%= @bike.gears %>
</p>

<%= link_to 'Edit', edit_bike_path(@bike) %> |
<%= link_to 'Back', bikes_path %>
