<p id="notice"><%= notice %></p>

<%= @bike.inspect %>

<% @bike.pictures.each do |pic| %>
  <%= image_tag(pic.url, class: "bike_pic") %>
<% end %>
<p>
  <strong>Profile:</strong>
  <%= @bike.profile.first_name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @bike.description %>
</p>

<p>
  <strong>Gears:</strong>
  <%= @bike.gears %>
</p>

<%= link_to 'Edit', edit_bike_path(@bike) %> |
<%= link_to 'Back', bikes_path %>
